@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-50 text-neutral-900 dark:bg-neutral-950 dark:text-neutral-100 transition-colors duration-300;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-100 dark:bg-neutral-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-400 dark:bg-neutral-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-amber-500;
}
